<div class="container">

<div class="masthead">
  <h3 class="text-muted">Dev Tasks</h3>
  <nav>
    <ul class="nav nav-justified">
      <li>{{#link-to 'site'}}Home{{/link-to}}</li>
      <li>{{#link-to 'login'}}Login{{/link-to}}</li>
      <li>{{#link-to 'admin'}}Admin{{/link-to}}</li>
    </ul>
  </nav>
</div>

  {{outlet}}
</div>
